        button {
          border-color: blue;
          border-width: 3px;
        }
        .settings {
          padding: 20px; 
          background: grey;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          width: 40px;
          height: 40px;
          border-color: blue;
          left: 0;
        }
        .topbar {
          position: sticky;
          background: black;
          border-color: blue;
          padding: 20px;
          width: 100%;
          z-index: 10000000;
